<!DOCTYPE html>
<html>
  <head>
    <title>MapsApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrap-container">
      <%= yield %>
    </div>
  </body>

  <footer>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCALxWGU7_sKHEL77Ku_oQdWnqNeVOwCZc&libraries=places"></script>

  </footer>
</html>
